# Proyecto para procesar archivo de texto txt que contiene ventas diarias de un establecimiento comercial

## Descripción

- Todo el proyecto se guarda en una carpeta llamada Ventas55 en el siguiente path: C:\Users\hp\Documents\Ingenieria_Analítica_Datos_UM\miniconda\Ventas55
- La información se descarga a un archivo de texto de prueba con el nombre dato01.txt. Este archivo solo contendrá 100 lineas de las 5725 lineas que constituyen el archivo original.
- Probando las librerías numpy y pandas, se encuentra mayor facilidad para manipular este archivo con el package PANDAS<br>
<center>
<img width="200" height="100" src="pandas_logo.jpg">
</center>
- El archivo en estado raw debe limpiarse un poco usando la herramienta "reemplazo rápido" de VS Code. Por ejemplo el archivo no puede contener el símbolo "#" porque esto significa comentarios en python. el simbolo "a. m." y "p. m." se quitan para evitar columnas innecesarias cuando se convierta a data frame en pandas.
- La primer línea del archivo debe contener la máxima información para que el número de columnas sea el apropiado.

## Carga de archivo y conversión a dataframe

In [1]:
import pandas as pd

In [45]:
df = pd.read_csv("datos01.txt", sep=r'\s+' ,on_bad_lines='skip')
df.columns = ['col0', 'col1', 'col2', 'col3','col4','col5','col6','col7']

In [46]:
df

,col0,col1,col2,col3,col4,col5,col6,col7
0,"29/3/2025,",10:33 am,-,Lleny,Rodriguez:,120,NaN,NaN
1,"29/3/2025,",12:00 pm,-,Lleny,Rodriguez:,‎IMG-20250329-WA0022.jpg,(archivo,adjunto)
2,2750,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,"29/3/2025,",12:06 pm,-,Lleny,Rodriguez:,‎IMG-20250329-WA0024.jpg,(archivo,adjunto)
4,$,120,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...
92,240,42,36,NaN,NaN,NaN,NaN,NaN
93,"2/4/2025,",1:38 pm,-,Lleny,Rodriguez:,‎IMG-20250402-WA0013.jpg,(archivo,adjunto)
94,"2/4/2025,",1:38 pm,-,Lleny,Rodriguez:,120,NaN,NaN
95,"2/4/2025,",2:33 pm,-,Yoli:,‎IMG-20250402-WA0031.jpg,(archivo,adjunto),NaN
96,580,39,NaN,NaN,NaN,NaN,NaN,NaN

In [44]:
df.iloc[95]

col0                   2/4/2025,
col1                    2:33 pm
col2                           -
col3                       Yoli:
col4    ‎IMG-20250402-WA0031.jpg
col5                    (archivo
col6                    adjunto)
col7                         NaN
Name: 95, dtype: object