# <font color= "0CAD31">LECTURA Y PROCESAMIENTO DE DATOS CON NUMPY</font>

#### <font color="0C5FAD">El siguiente código de prueba tiene el propósito de leer un archivo de datos en formato .txt con información separada por espacios en blanco. Seguidamente se requiere ordenar la información de tal manera que tenga una estructura bien definida de filas y columnas, esto para su posterior procesamiento o ingreso en una base de datos sql.</font>

In [1]:
import numpy as np

In [2]:
def lectura():
    with open("datos.txt") as datos:
        print (datos.read())

In [3]:
lectura()

30/3/2024, 9:56 a. m. - Lleny Rodriguez: IMG-20250329-WA0004.jpg (archivo adjunto)
$ 350
29/3/2025, 10:33 a. m. - Lleny Rodriguez: IMG-20250329-WA0004.jpg (archivo adjunto)
29/3/2025, 10:33 a. m. - Lleny Rodriguez: 120
29/3/2025, 12:00 p. m. - Lleny Rodriguez: IMG-20250329-WA0022.jpg (archivo adjunto)
2750
29/3/2025, 12:06 p. m. - Lleny Rodriguez: IMG-20250329-WA0024.jpg (archivo adjunto)
$ 120
29/3/2025, 1:00 p. m. - Yoli: IMG-20250329-WA0032.jpg (archivo adjunto)
220
29/3/2025, 1:14 p. m. - Lleny Rodriguez: IMG-20250329-WA0035.jpg (archivo adjunto)
120 4
29/3/2025, 1:49 p. m. - Lleny Rodriguez: IMG-20250329-WA0037.jpg (archivo adjunto)
29/3/2025, 1:49 p. m. - Lleny Rodriguez: 120
29/3/2025, 2:01 p. m. - Lleny Rodriguez: IMG-20250329-WA0039.jpg (archivo adjunto)
110 6
29/3/2025, 2:11 p. m. - Lleny Rodriguez: IMG-20250329-WA0041.jpg (archivo adjunto)
120 2
29/3/2025, 3:22 p. m. - Lleny Rodriguez: IMG-20250329-WA0045.jpg (archivo adjunto)
$ 120 2
29/3/2025, 4:05 p. m. - Yoli: IMG-20250329-WA0050.jpg (archivo adjunto)
110 #36

In [11]:
import numpy as np

In [12]:
with open ("datos04.txt","r") as archivo:
    datos=[line.strip() for line in archivo.readlines()]

In [13]:
print (datos)

['#col1 col2 col3 col4 col5 col6 col7 col8', '$ 350 NULO NULO NULO NULO NULO NULO', '29/3/2025, 10:33am - Lleny Rodriguez: IMG-20250329-WA0004.jpg (archivo adjunto)', '29/3/2025, 10:33am - Lleny Rodriguez: 120 NULO NULO', '29/3/2025, 12:00pm - Lleny Rodriguez: IMG-20250329-WA0022.jpg (archivo adjunto)', '2750 NULO NULO NULO NULO NULO NULO NULO', '29/3/2025, 12:06pm - Lleny Rodriguez: IMG-20250329-WA0024.jpg (archivo adjunto)', '$ 120 NULO NULO NULO NULO NULO NULO', '29/3/2025, 1:00pm\u202f - Yoli: IMG-20250329-WA0032.jpg (archivo adjunto) NULO', '220 NULO NULO NULO NULO NULO NULO NULO', '29/3/2025, 1:14pm\u202f - Lleny Rodriguez: IMG-20250329-WA0035.jpg (archivo adjunto)', '120 4 NULO NULO NULO NULO NULO NULO', '29/3/2025, 1:49pm\u202f - Lleny Rodriguez: IMG-20250329-WA0037.jpg (archivo adjunto)', '29/3/2025, 1:49pm\u202f - Lleny Rodriguez: 120 NULO NULO', '29/3/2025, 2:01pm\u202f - Lleny Rodriguez: IMG-20250329-WA0039.jpg (archivo adjunto)', '110 6 NULO NULO NULO NULO NULO NULO', '29/3/2025, 2:11pm\u202f - Lleny Rodriguez: IMG-20250329-WA0041.jpg (archivo adjunto)', '120 2 NULO NULO NULO NULO NULO NULO', '29/3/2025, 3:22pm\u202f - Lleny Rodriguez: IMG-20250329-WA0045.jpg (archivo adjunto)', '$ 120 2 NULO NULO NULO NULO NULO', '29/3/2025, 4:05pm\u202f - Yoli: IMG-20250329-WA0050.jpg (archivo adjunto) NULO', '110 -36 NULO NULO NULO NULO NULO NULO']

### <font color="0C5FAD">Transponer en array para trabajar con los datos de las filas</font>

In [14]:
array_numpy = np.array(datos)

In [18]:
print (array_numpy)

['#col1 col2 col3 col4 col5 col6 col7 col8'
 '$ 350 NULO NULO NULO NULO NULO NULO'
 '29/3/2025, 10:33am - Lleny Rodriguez: IMG-20250329-WA0004.jpg (archivo adjunto)'
 '29/3/2025, 10:33am - Lleny Rodriguez: 120 NULO NULO'
 '29/3/2025, 12:00pm - Lleny Rodriguez: IMG-20250329-WA0022.jpg (archivo adjunto)'
 '2750 NULO NULO NULO NULO NULO NULO NULO'
 '29/3/2025, 12:06pm - Lleny Rodriguez: IMG-20250329-WA0024.jpg (archivo adjunto)'
 '$ 120 NULO NULO NULO NULO NULO NULO'
 '29/3/2025, 1:00pm\u202f - Yoli: IMG-20250329-WA0032.jpg (archivo adjunto) NULO'
 '220 NULO NULO NULO NULO NULO NULO NULO'
 '29/3/2025, 1:14pm\u202f - Lleny Rodriguez: IMG-20250329-WA0035.jpg (archivo adjunto)'
 '120 4 NULO NULO NULO NULO NULO NULO'
 '29/3/2025, 1:49pm\u202f - Lleny Rodriguez: IMG-20250329-WA0037.jpg (archivo adjunto)'
 '29/3/2025, 1:49pm\u202f - Lleny Rodriguez: 120 NULO NULO'
 '29/3/2025, 2:01pm\u202f - Lleny Rodriguez: IMG-20250329-WA0039.jpg (archivo adjunto)'
 '110 6 NULO NULO NULO NULO NULO NULO'
 '29/3/2025, 2:11pm\u202f - Lleny Rodriguez: IMG-20250329-WA0041.jpg (archivo adjunto)'
 '120 2 NULO NULO NULO NULO NULO NULO'
 '29/3/2025, 3:22pm\u202f - Lleny Rodriguez: IMG-20250329-WA0045.jpg (archivo adjunto)'
 '$ 120 2 NULO NULO NULO NULO NULO'
 '29/3/2025, 4:05pm\u202f - Yoli: IMG-20250329-WA0050.jpg (archivo adjunto) NULO'
 '110 -36 NULO NULO NULO NULO NULO NULO']

In [23]:
array_TR = np.transpose(array_numpy)

In [24]:
print (array_TR)

['#col1 col2 col3 col4 col5 col6 col7 col8'
 '$ 350 NULO NULO NULO NULO NULO NULO'
 '29/3/2025, 10:33am - Lleny Rodriguez: IMG-20250329-WA0004.jpg (archivo adjunto)'
 '29/3/2025, 10:33am - Lleny Rodriguez: 120 NULO NULO'
 '29/3/2025, 12:00pm - Lleny Rodriguez: IMG-20250329-WA0022.jpg (archivo adjunto)'
 '2750 NULO NULO NULO NULO NULO NULO NULO'
 '29/3/2025, 12:06pm - Lleny Rodriguez: IMG-20250329-WA0024.jpg (archivo adjunto)'
 '$ 120 NULO NULO NULO NULO NULO NULO'
 '29/3/2025, 1:00pm\u202f - Yoli: IMG-20250329-WA0032.jpg (archivo adjunto) NULO'
 '220 NULO NULO NULO NULO NULO NULO NULO'
 '29/3/2025, 1:14pm\u202f - Lleny Rodriguez: IMG-20250329-WA0035.jpg (archivo adjunto)'
 '120 4 NULO NULO NULO NULO NULO NULO'
 '29/3/2025, 1:49pm\u202f - Lleny Rodriguez: IMG-20250329-WA0037.jpg (archivo adjunto)'
 '29/3/2025, 1:49pm\u202f - Lleny Rodriguez: 120 NULO NULO'
 '29/3/2025, 2:01pm\u202f - Lleny Rodriguez: IMG-20250329-WA0039.jpg (archivo adjunto)'
 '110 6 NULO NULO NULO NULO NULO NULO'
 '29/3/2025, 2:11pm\u202f - Lleny Rodriguez: IMG-20250329-WA0041.jpg (archivo adjunto)'
 '120 2 NULO NULO NULO NULO NULO NULO'
 '29/3/2025, 3:22pm\u202f - Lleny Rodriguez: IMG-20250329-WA0045.jpg (archivo adjunto)'
 '$ 120 2 NULO NULO NULO NULO NULO'
 '29/3/2025, 4:05pm\u202f - Yoli: IMG-20250329-WA0050.jpg (archivo adjunto) NULO'
 '110 -36 NULO NULO NULO NULO NULO NULO']

In [10]:
# Guardar el array en un archivo .txt
try:
    # Especificar el nombre del archivo
    archivo_salida = "dato04_TR.txt"
    
    # Guardar el array en el archivo con formato personalizado
    np.savetxt(archivo_salida, array_transpuesto, fmt='%s', delimiter=" ", header='Array guardado:', comments='')

    print(f"El array se ha guardado correctamente en '{archivo_salida}'.")
except Exception as e:
    print(f"Error al guardar el archivo: {e}")

El array se ha guardado correctamente en 'dato04_TR.txt'.

In [26]:
TR=np.transpose(array_TR)

In [28]:
print(TR)

['#col1 col2 col3 col4 col5 col6 col7 col8'
 '$ 350 NULO NULO NULO NULO NULO NULO'
 '29/3/2025, 10:33am - Lleny Rodriguez: IMG-20250329-WA0004.jpg (archivo adjunto)'
 '29/3/2025, 10:33am - Lleny Rodriguez: 120 NULO NULO'
 '29/3/2025, 12:00pm - Lleny Rodriguez: IMG-20250329-WA0022.jpg (archivo adjunto)'
 '2750 NULO NULO NULO NULO NULO NULO NULO'
 '29/3/2025, 12:06pm - Lleny Rodriguez: IMG-20250329-WA0024.jpg (archivo adjunto)'
 '$ 120 NULO NULO NULO NULO NULO NULO'
 '29/3/2025, 1:00pm\u202f - Yoli: IMG-20250329-WA0032.jpg (archivo adjunto) NULO'
 '220 NULO NULO NULO NULO NULO NULO NULO'
 '29/3/2025, 1:14pm\u202f - Lleny Rodriguez: IMG-20250329-WA0035.jpg (archivo adjunto)'
 '120 4 NULO NULO NULO NULO NULO NULO'
 '29/3/2025, 1:49pm\u202f - Lleny Rodriguez: IMG-20250329-WA0037.jpg (archivo adjunto)'
 '29/3/2025, 1:49pm\u202f - Lleny Rodriguez: 120 NULO NULO'
 '29/3/2025, 2:01pm\u202f - Lleny Rodriguez: IMG-20250329-WA0039.jpg (archivo adjunto)'
 '110 6 NULO NULO NULO NULO NULO NULO'
 '29/3/2025, 2:11pm\u202f - Lleny Rodriguez: IMG-20250329-WA0041.jpg (archivo adjunto)'
 '120 2 NULO NULO NULO NULO NULO NULO'
 '29/3/2025, 3:22pm\u202f - Lleny Rodriguez: IMG-20250329-WA0045.jpg (archivo adjunto)'
 '$ 120 2 NULO NULO NULO NULO NULO'
 '29/3/2025, 4:05pm\u202f - Yoli: IMG-20250329-WA0050.jpg (archivo adjunto) NULO'
 '110 -36 NULO NULO NULO NULO NULO NULO']

### <font color="0C5FAD">Usando el comando np.loadtxt()</font>

#### <font color="0CAD31">Para poder usar este comando la matriz de datos NO puede contener datos vacíos, de lo contrario genera errores y no se puede compilar. Para solucionar esto, primero se debe recorrer la matriz y llenarla con algún valor "NULO".<br>Tampoco se puede incluir el carácter "#" en el archivo de datos .txt porque se interpretaran como comentarios.</font>

In [3]:
import numpy as np
f1,f2,f3,f4,f5,f6,f7,f8,f9,f10,f11,f12,f13,f14,f15,f16,f17,f18,f19,f20,f21 = np.loadtxt("array_salida.txt", unpack = True, dtype = str )

In [4]:
print(f1)

['$' '350' 'NULO' 'NULO' 'NULO' 'NULO' 'NULO' 'NULO']

## <font color="0C5FAD">Reconocer diferentes tipos de datos</font>

In [36]:
F3=np.array(f3)

In [37]:
print (F3)

['29/3/2025,' '10:33am' '-' 'Lleny' 'Rodriguez:' '120' 'NULO' 'NULO']

In [39]:
for elemento in F3:
    print(f"Elemento: {elemento}  Tipo: {type(elemento)}")

Elemento: 29/3/2025,  Tipo: <class 'numpy.str_'>
Elemento: 10:33am  Tipo: <class 'numpy.str_'>
Elemento: -  Tipo: <class 'numpy.str_'>
Elemento: Lleny  Tipo: <class 'numpy.str_'>
Elemento: Rodriguez:  Tipo: <class 'numpy.str_'>
Elemento: 120  Tipo: <class 'numpy.str_'>
Elemento: NULO  Tipo: <class 'numpy.str_'>
Elemento: NULO  Tipo: <class 'numpy.str_'>

In [40]:
int(F3[5])+int(f5[0])

2870

In [71]:
def convertir_elementos(lista):
    resultado = []
    for elemento in lista:
        # Si el elemento puede convertirse a entero, lo convertimos
        if elemento.strip().lstrip('-').isdigit():
            resultado.append(int(elemento))
        else:
            resultado.append(0)
    return resultado

In [75]:
print(f4)

['29/3/2025,' '12:00pm' '-' 'Lleny' 'Rodriguez:' 'IMG-20250329-WA0022.jpg'
 '(archivo' 'adjunto)']

In [76]:
convertir_elementos(f1)

[0, 350, 0, 0, 0, 0, 0, 0]

In [83]:
import re
from datetime import datetime

def convertir_elementos_completo(lista):
    resultado = []
    
    for elemento in lista:
        # Limpiar el elemento
        elemento_limpio = elemento.strip().rstrip(',')
        
        # Patrón para fechas con días/meses de 1-2 dígitos
        if re.match(r'^\d{1,2}/\d{1,2}/\d{4}$', elemento_limpio):
            try:
                # Convertir dividiendo los componentes
                partes = elemento_limpio.split('/')
                dia = int(partes[0])
                mes = int(partes[1])
                año = int(partes[2])
                fecha = datetime(año, mes, dia).date()
                resultado.append(fecha)
                continue
            except ValueError:
                pass  # Fecha inválida, continuar con otros tipos
        
        # Verificar si es número
        if elemento_limpio.lstrip('-').isdigit():
            resultado.append(int(elemento_limpio))
        else:
            resultado.append(0)
    
    return resultado

# Prueba con tu caso específico
#lista_original = ["29/3/2025,", "123", "Juan", "5/12/2023", "1/1/2024"]
#lista_convertida = convertir_elementos_practico(lista_original)
#for original, convertido in zip(lista_original, lista_convertida):
#    print(f"'{original}' -> {convertido} (tipo: {type(convertido).__name__})")

In [87]:
convertir_elementos_completo(f3)

[datetime.date(2025, 3, 29), 0, 0, 0, 0, 120, 0, 0]

a = []

In [89]:
a = convertir_elementos_completo(f3)
print(a)

[datetime.date(2025, 3, 29), 0, 0, 0, 0, 120, 0, 0]

In [90]:
import re
from datetime import datetime, time

def convertir_lista_completa(lista):
    """
    Convierte una lista de strings a:
    - objetos date para fechas (DD/MM/AAAA o D/M/AAAA)
    - objetos time para horas (HH:MMam/pm o HH:MM)
    - int para números
    - 0 para nombres u otros textos
    """
    resultado = []
    
    for elemento in lista:
        elemento_limpio = elemento.strip().rstrip(',')
        
        # 1. Primero intentar convertir fechas
        fecha_convertida = detectar_fecha(elemento_limpio)
        if fecha_convertida:
            resultado.append(fecha_convertida)
            continue
            
        # 2. Luego intentar convertir horas
        hora_convertida = detectar_hora(elemento_limpio)
        if hora_convertida:
            resultado.append(hora_convertida)
            continue
            
        # 3. Luego intentar convertir números
        if elemento_limpio.lstrip('-').isdigit():
            resultado.append(int(elemento_limpio))
        else:
            resultado.append(0)
    
    return resultado

def detectar_fecha(cadena):
    """Detecta y convierte formatos de fecha DD/MM/AAAA o D/M/AAAA"""
    if re.match(r'^\d{1,2}/\d{1,2}/\d{4}$', cadena):
        try:
            partes = cadena.split('/')
            dia, mes, año = int(partes[0]), int(partes[1]), int(partes[2])
            return datetime(año, mes, dia).date()
        except ValueError:
            return None
    return None

def detectar_hora(cadena):
    """Detecta y convierte formatos de hora HH:MMam/pm, HH:MM, etc."""
    cadena_lower = cadena.lower()
    
    # Patrón para horas con AM/PM (12:00pm, 1:30am, etc.)
    patron_12h = re.match(r'^(\d{1,2}):(\d{2})\s*([ap]m)$', cadena_lower)
    if patron_12h:
        try:
            hora = int(patron_12h.group(1))
            minuto = int(patron_12h.group(2))
            periodo = patron_12h.group(3)
            
            # Convertir de 12h a 24h
            if periodo == 'pm' and hora != 12:
                hora += 12
            elif periodo == 'am' and hora == 12:
                hora = 0
                
            return time(hora, minuto)
        except ValueError:
            return None
    
    # Patrón para horas en formato 24h (14:30, 09:45, etc.)
    patron_24h = re.match(r'^(\d{1,2}):(\d{2})$', cadena)
    if patron_24h:
        try:
            hora = int(patron_24h.group(1))
            minuto = int(patron_24h.group(2))
            if 0 <= hora <= 23 and 0 <= minuto <= 59:
                return time(hora, minuto)
        except ValueError:
            return None
    
    return None

# Ejemplo de uso
#lista_original = [
#    "29/3/2025,", "123", "Juan", "12:00pm", "14:30", 
#    "9:45am", "5/12/2023", "1:00pm", "25", "María"
#]

#lista_convertida = convertir_lista_completa(lista_original)

#print("Conversión completa:")
#print("-" * 50)
#for original, convertido in zip(lista_original, lista_convertida):
#    print(f"'{original}' -> {convertido} (tipo: {type(convertido).__name__})")

In [92]:
a=convertir_lista_completa(f3)
print (a)

[datetime.date(2025, 3, 29), datetime.time(10, 33), 0, 0, 0, 120, 0, 0]

In [93]:
b=[]
b=convertir_lista_completa(f1)
print (b)

[0, 350, 0, 0, 0, 0, 0, 0]

In [95]:
c=[]
c=convertir_lista_completa(f2)
print (c)

[datetime.date(2025, 3, 29), datetime.time(10, 33), 0, 0, 0, 0, 0, 0]

In [96]:
print (f2)

['29/3/2025,' '10:33am' '-' 'Lleny' 'Rodriguez:' 'IMG-20250329-WA0004.jpg'
 '(archivo' 'adjunto)']

# <font color="0C5FAD">Distribuir las lineas en listas individuales</font>

In [7]:
with open ("datos2.txt","r") as archivo:
    datos=[line.strip() for line in archivo.readlines()]

In [8]:
uno, dos, tres,cuatro, cinco, seis, siete, ocho, nueve, diez=[],[],[],[],[],[],[],[],[],[]
for a in datos:
    a=a.split()
    uno.append(a[0])
    dos.append(a[1])
    tres.append(a[2])
    cuatro.append(a[3])
    cinco.append(a[4])
    seis.append(a[5])
    siete.append(a[6])
    ocho.append(a[7])
    nueve.append(a[8])
    diez.append(a[9])

In [9]:
seis

['Lleny', 'Yolanda', 'Samir']

In [81]:
with open ("datos.txt","r") as archivo:
    datos=[line.strip() for line in archivo.readlines()]

In [82]:
datos

['30/3/2024, 9:56\u202fa.\u202fm. - Lleny Rodriguez: <Multimedia omitido>',
 '$ 350',
 '29/3/2025, 10:33\u202fa.\u202fm. - Lleny Rodriguez: IMG-20250329-WA0004.jpg (archivo adjunto)',
 '29/3/2025, 10:33\u202fa.\u202fm. - Lleny Rodriguez: 120',
 '29/3/2025, 12:00\u202fp.\u202fm. - Lleny Rodriguez: IMG-20250329-WA0022.jpg (archivo adjunto)',
 '2750',
 '29/3/2025, 12:06\u202fp.\u202fm. - Lleny Rodriguez: IMG-20250329-WA0024.jpg (archivo adjunto)',
 '$ 120',
 '29/3/2025, 1:00\u202fp.\u202fm. - Yoli: IMG-20250329-WA0032.jpg (archivo adjunto)',
 '220',
 '29/3/2025, 1:14\u202fp.\u202fm. - Lleny Rodriguez: IMG-20250329-WA0035.jpg (archivo adjunto)',
 '120 4',
 '29/3/2025, 1:49\u202fp.\u202fm. - Lleny Rodriguez: IMG-20250329-WA0037.jpg (archivo adjunto)',
 '29/3/2025, 1:49\u202fp.\u202fm. - Lleny Rodriguez: 120',
 '29/3/2025, 2:01\u202fp.\u202fm. - Lleny Rodriguez: IMG-20250329-WA0039.jpg (archivo adjunto)',
 '110 6',
 '29/3/2025, 2:11\u202fp.\u202fm. - Lleny Rodriguez: IMG-20250329-WA0041.jpg (archivo adjunto)',
 '120 2',
 '29/3/2025, 3:22\u202fp.\u202fm. - Lleny Rodriguez: IMG-20250329-WA0045.jpg (archivo adjunto)',
 '$ 120 2',
 '29/3/2025, 4:05\u202fp.\u202fm. - Yoli: IMG-20250329-WA0050.jpg (archivo adjunto)',
 '110 #36']

# <font color="0C5FAD">CÓDIGO USANDO PANDAS</font>

In [35]:
import pandas as pd

In [36]:
df = pd.read_csv("datos04.txt", sep=r'\s+')
df.columns = ['col1', 'col2', 'col3','col4','col5','col6','col7','col8' ]
df

,col1,col2,col3,col4,col5,col6,col7,col8
0,$,350,NULO,NULO,NULO,NULO,NULO,NULO
1,"29/3/2025,",10:33am,-,Lleny,Rodriguez:,IMG-20250329-WA0004.jpg,(archivo,adjunto)
2,"29/3/2025,",10:33am,-,Lleny,Rodriguez:,120,NULO,NULO
3,"29/3/2025,",12:00pm,-,Lleny,Rodriguez:,IMG-20250329-WA0022.jpg,(archivo,adjunto)
4,2750,NULO,NULO,NULO,NULO,NULO,NULO,NULO
5,"29/3/2025,",12:06pm,-,Lleny,Rodriguez:,IMG-20250329-WA0024.jpg,(archivo,adjunto)
6,$,120,NULO,NULO,NULO,NULO,NULO,NULO
7,"29/3/2025,",1:00pm,-,Yoli:,IMG-20250329-WA0032.jpg,(archivo,adjunto),NULO
8,220,NULO,NULO,NULO,NULO,NULO,NULO,NULO
9,"29/3/2025,",1:14pm,-,Lleny,Rodriguez:,IMG-20250329-WA0035.jpg,(archivo,adjunto)
10,120,4,NULO,NULO,NULO,NULO,NULO,NULO
11,"29/3/2025,",1:49pm,-,Lleny,Rodriguez:,IMG-20250329-WA0037.jpg,(archivo,adjunto)
12,"29/3/2025,",1:49pm,-,Lleny,Rodriguez:,120,NULO,NULO
13,"29/3/2025,",2:01pm,-,Lleny,Rodriguez:,IMG-20250329-WA0039.jpg,(archivo,adjunto)
14,110,6,NULO,NULO,NULO,NULO,NULO,NULO
15,"29/3/2025,",2:11pm,-,Lleny,Rodriguez:,IMG-20250329-WA0041.jpg,(archivo,adjunto)
16,120,2,NULO,NULO,NULO,NULO,NULO,NULO
17,"29/3/2025,",3:22pm,-,Lleny,Rodriguez:,IMG-20250329-WA0045.jpg,(archivo,adjunto)
18,$,120,2,NULO,NULO,NULO,NULO,NULO
19,"29/3/2025,",4:05pm,-,Yoli:,IMG-20250329-WA0050.jpg,(archivo,adjunto),NULO
20,110,-36,NULO,NULO,NULO,NULO,NULO,NULO

In [40]:
df_transpuesto = df.transpose()
df_transpuesto

,0,1,2,3,4,5,6,7,8,9,...,11,12,13,14,15,16,17,18,19,20
col1,$,"29/3/2025,","29/3/2025,","29/3/2025,",2750,"29/3/2025,",$,"29/3/2025,",220,"29/3/2025,",...,"29/3/2025,","29/3/2025,","29/3/2025,",110,"29/3/2025,",120,"29/3/2025,",$,"29/3/2025,",110
col2,350,10:33am,10:33am,12:00pm,NULO,12:06pm,120,1:00pm,NULO,1:14pm,...,1:49pm,1:49pm,2:01pm,6,2:11pm,2,3:22pm,120,4:05pm,-36
col3,NULO,-,-,-,NULO,-,NULO,-,NULO,-,...,-,-,-,NULO,-,NULO,-,2,-,NULO
col4,NULO,Lleny,Lleny,Lleny,NULO,Lleny,NULO,Yoli:,NULO,Lleny,...,Lleny,Lleny,Lleny,NULO,Lleny,NULO,Lleny,NULO,Yoli:,NULO
col5,NULO,Rodriguez:,Rodriguez:,Rodriguez:,NULO,Rodriguez:,NULO,IMG-20250329-WA0032.jpg,NULO,Rodriguez:,...,Rodriguez:,Rodriguez:,Rodriguez:,NULO,Rodriguez:,NULO,Rodriguez:,NULO,IMG-20250329-WA0050.jpg,NULO
col6,NULO,IMG-20250329-WA0004.jpg,120,IMG-20250329-WA0022.jpg,NULO,IMG-20250329-WA0024.jpg,NULO,(archivo,NULO,IMG-20250329-WA0035.jpg,...,IMG-20250329-WA0037.jpg,120,IMG-20250329-WA0039.jpg,NULO,IMG-20250329-WA0041.jpg,NULO,IMG-20250329-WA0045.jpg,NULO,(archivo,NULO
col7,NULO,(archivo,NULO,(archivo,NULO,(archivo,NULO,adjunto),NULO,(archivo,...,(archivo,NULO,(archivo,NULO,(archivo,NULO,(archivo,NULO,adjunto),NULO
col8,NULO,adjunto),NULO,adjunto),NULO,adjunto),NULO,NULO,NULO,adjunto),...,adjunto),NULO,adjunto),NULO,adjunto),NULO,adjunto),NULO,NULO,NULO

In [122]:
print(df.iloc[20]["col2"])

#36

In [16]:
# Opción 1: Rellenar valores nulos con un valor constante
df_filled_constant = df.fillna("NULO")
print("\nRellenar valores nulos con un valor constante (0):")
print(df_filled_constant)

Rellenar valores nulos con un valor constante (0):
          col1         col2  col3   col4                     col5  \
0            $          350  NULO   NULO                     NULO
1   29/3/2025,  10:33 a. m.     -  Lleny               Rodriguez:
2   29/3/2025,  10:33 a. m.     -  Lleny               Rodriguez:
3   29/3/2025,  12:00 p. m.     -  Lleny               Rodriguez:
4         2750         NULO  NULO   NULO                     NULO
5   29/3/2025,  12:06 p. m.     -  Lleny               Rodriguez:
6            $          120  NULO   NULO                     NULO
7   29/3/2025,   1:00 p. m.     -  Yoli:  IMG-20250329-WA0032.jpg
8          220         NULO  NULO   NULO                     NULO
9   29/3/2025,   1:14 p. m.     -  Lleny               Rodriguez:
10         120            4  NULO   NULO                     NULO
11  29/3/2025,   1:49 p. m.     -  Lleny               Rodriguez:
12  29/3/2025,   1:49 p. m.     -  Lleny               Rodriguez:
13  29/3/2025,   2:01 p. m.     -  Lleny               Rodriguez:
14         110            6  NULO   NULO                     NULO
15  29/3/2025,   2:11 p. m.     -  Lleny               Rodriguez:
16         120            2  NULO   NULO                     NULO
17  29/3/2025,   3:22 p. m.     -  Lleny               Rodriguez:
18           $          120     2   NULO                     NULO
19  29/3/2025,   4:05 p. m.     -  Yoli:  IMG-20250329-WA0050.jpg
20         110          #36  NULO   NULO                     NULO

                       col6      col7      col8
0                      NULO      NULO      NULO
1   IMG-20250329-WA0004.jpg  (archivo  adjunto)
2                       120      NULO      NULO
3   IMG-20250329-WA0022.jpg  (archivo  adjunto)
4                      NULO      NULO      NULO
5   IMG-20250329-WA0024.jpg  (archivo  adjunto)
6                      NULO      NULO      NULO
7                  (archivo  adjunto)      NULO
8                      NULO      NULO      NULO
9   IMG-20250329-WA0035.jpg  (archivo  adjunto)
10                     NULO      NULO      NULO
11  IMG-20250329-WA0037.jpg  (archivo  adjunto)
12                      120      NULO      NULO
13  IMG-20250329-WA0039.jpg  (archivo  adjunto)
14                     NULO      NULO      NULO
15  IMG-20250329-WA0041.jpg  (archivo  adjunto)
16                     NULO      NULO      NULO
17  IMG-20250329-WA0045.jpg  (archivo  adjunto)
18                     NULO      NULO      NULO
19                 (archivo  adjunto)      NULO
20                     NULO      NULO      NULO

In [21]:
# Especificar el nombre del archivo de salida
archivo_salida = 'datos03.txt'

# Exportar el DataFrame a un archivo de texto con un separador personalizado (por ejemplo, tabulación)
try:
    df_filled_constant.to_csv(archivo_salida, sep=' ', index=False, encoding='utf-8')
    print(f"El DataFrame se ha exportado correctamente a '{archivo_salida}'.")
except Exception as e:
    print(f"Error al exportar el DataFrame: {e}")

El DataFrame se ha exportado correctamente a 'datos03.txt'.